body {
	text-align: center;
	color: yellow;
	background-color: black;
	margin: 20px;
}

body a {
	color: cyan;
}

.loglink {
	margin: 0px 15px;
}

.buttondiv {
	margin-top: 15px;
}

.hide {
	display: none;
}

#resultData {
	width: 50%;
	margin: 20px auto 0;
}

#resultData > div {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
}

.dataDiv {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}

.dataDiv span {
	text-align: left;
	margin-bottom: 5px;
}

.userRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.spaceBtm {
	margin-bottom: 20px
}

.userRow input {
	width: 100px;
}

.userRow span {
	min-width: 200px;
}

.songRow {
	width:50%;
	margin: 10px auto 0;
	display: flex;
	flex-direction: row;
}